apiVersion: apps/v1
kind: Deployment
metadata:
  name: pedidos-deployment
  namespace: medisupply
  labels:
    app: pedidos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pedidos
  template:
    metadata:
      labels:
        app: pedidos
    spec:
      containers:
      - name: pedidos
        image: 012146976167.dkr.ecr.us-east-2.amazonaws.com/pedidos:latest
        ports:
        - containerPort: 5012
        imagePullPolicy: Always
        env:
        - name: DB_HOST
          value: "postgres-service"
        - name: DB_USER
          value: "postgres"
        - name: DB_NAME
          value: "medisupply"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: postgres-password
